div {
    left: auto;
    right: auto;
    width: 30%;
    border: 1px;
}

form {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

body {
    background-color: azure;
}